@using Pumpkin.Web.Models

@model IEnumerable<Snippet>
@{
   ViewBag.Title = "Home Page";
}

<div class="jumbotron">
   <h2>"Hosted" Pumpkin</h2>
   <p>A proof-of-concept for the submission, compilation and execution of C# snippets, using an unmanaged host to fine-control their execution</p>
   @Html.ActionLink("Create a new snippet", "Create", null, new { @class = "btn btn-default" })
</div>

<div class="row">
   <div class="row">      
      <h3>Execute a snippet</h3>
      <dl>
         @foreach (var item in Model) {
            <dt>@item.Id</dt>  
            <dd>@item.Source</dd>
         }
      </dl>
   </div>
</div>